<html>
    <head>
        <title>코딩캠프 신청알림</title>

    </head>
    <body>

    <div class="px-0 for_b">
        <%= link_to "/offlines/index" , :target=> '_blank' do %> <%= image_tag("pop1.png",  :class=>"img-fluid")%> <%end%>
    </div>

    </body>
</html>
