<html>
    <head>
        <title>코딩으로 지구정복 정식출판</title>

    </head>
    <body>

    <div class="px-0 for_b">
        <a href="http://www.yes24.com/Product/Goods/70837403?Acode=101"> <%= image_tag("book1.png",  :class=>"img-fluid")%> </a>
    </div>

    </body>
</html>
